.App {
  text-align: center;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  position: relative;
}
@media (min-width: 320px) and (max-width: 430px) {
  /* header.js */
  .headerButt {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
  }
  .headerButt a{
    text-decoration: none;
  }
  .menu a{
    margin-top: 5%;
    margin-bottom: 5%;
    text-decoration: none;
  }
  .grommetux-anchor--reverse .grommetux-control-icon{
    margin-left: 0;
  }
  .grommetux-anchor__icon {
    height: auto;
  }
  /* Splashpage */
  .splashpageContent{
    height: 100vh;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  #splashpage {
    background: url('assests/splash.jpg') 20% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -5%;
    margin-right: -5%;
  }

  .icon {
    position: inline-block;
    width: 100%;
  }

  .icon img {
    width: 20%;
  }
/*
  .backgroundImage{
    width: 100vw;
    height: 100vh;
    z-index: -333;
    background: url('assests/splash.jpg') no-repeat 30% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  } */

  .titles {
    padding-bottom: 12%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    z-index: 99;
    color: #555555;
  }
  .appTitle{
    font-size: 3.3em;
    font-family: 'Cardo', serif;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .loginSignupButts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 5%;

  }
  .loginSignupButts button{
    letter-spacing: 1px;
    width: 100%;
    margin-top: 3%;
    border: 1px solid black;
    background-color: white;
    color: #55555;
  }
  /* createAccount */
  .createAccountBox{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .createAccountBox h3{
    padding-top: 10%;
    font-size: 1.3em;
    letter-spacing: 2px;
    padding-bottom: 16%;

  }
  #loginButt{
    border: none;
    margin-top: 10%;
    margin-bottom: 5%;
    letter-spacing: 2px;
    margin-top: 5%;
    border-radius: 8px;
    font-size: 1.2em;
    padding: 3%;
    background-color: #4153AF;
    color: white;
  }
  #input{
    padding: 1.5em;
  }
  .marginTop {
    padding-top: 17%;
  }
  /* login.js */
  .login{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 25%;
  }
  .grommetux-form-field {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  .grommetux-form-field__label{
    color: black;
  }
  .grommetux-password-input__input {
    border: none;
  }
  .grommetux-text-input{
    width: 100%;
    border: none;
  }
  #formLogin {
    margin-top: 20%;
  }
  .title{
    padding-bottom: 5%;
    font-size: 2.8em;
    letter-spacing: 10px;
  }
  .bm-overlay {
    left: 0px;
  }

  /* quizzes */
  .activeButt {
    background-color: #4153AF;
    color: white;
  }
  .error {
    position: absolute;
  }
  .formBox h2{
    margin-bottom: 10%;
  }
  .quiz07box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .formBox .grommetux-form-field__label {
    font-size: .8em;
  }
  #itinName {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .6em;
    border: 1px black solid;
    border-radius: 5px;
    /* background-color: rgba(0,0,0,.10); */
    color: black;
  }
  #date {
    border-radius: 5px;
    border: 1px black solid;
  }
  .QandA{
    margin-top: 25%;
  }
  .question{
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 1.8em;
  }

  #loginButt1{
    letter-spacing: 3px;
    font-size: 1.3em;
    background-color: #4153AF;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 10%;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    left: -2.5%;
  }

  #PlacesAutocomplete__root{
    margin-top: 15%;
  }

  #my-input-id{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  .choices {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 17%;
  }

  .choices span{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 19%;
    padding: 1%;
    border: 1px solid black;
    font-size: 1.1em;
  }

  #choices2 span{
    justify-content: space-around;
    width: 45%;
  }
  #choices3 span{
    justify-content: space-around;
    width: 40%;
  }
  .top2{
    margin-bottom: 3%;
  }

  .bottom2{
    margin-bottom: 0%;
  }

  .next{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  #q3choices{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #choices2{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #choices3{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #q6choices {
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #q6choices span{
    justify-content: space-around;
    width: 45%;
  }

  /* searchbar */
  .location_icon {
    margin-right: 8px;
  }
  .fa.fa-map-marker {
    color: #e53935;
  }
  .search_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 90%;
  }

  .autocomplete-container {
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .render_item {
    padding: 4px;
    text-align: left;
  }

  .search_input,
  .search_input:focus,
  .search_input:active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: honeydew;
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
  }

  /* results.js */


  .right-halfBox {
    background-color: #4858a8;
    margin-left: -2.5%;
    margin-right: -3%;
    color: white;
  }
  .notActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white;
    background-color: #4858a8; */
    color: black;
    background-color: white;
    border: none;
  }
  .buttDesc {
    font-size: .6em;
  }
  .activeStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white;
    background-color: #4858a8; */
    color: #4858a8;
    background-color: white;
    border: none;
    font-weight: bold;
  }

  .right-half{
    max-height: 100%;
    width: 100%;

  }
  .topHalf{
    padding-top: 17%;
    max-width: 100%;
    height: 88vh;
    /* background-color: pink; */
  }
  .typeAndName {
    width: 90%;
    line-height: 1.05;
    margin-left: auto;
    margin-right: auto;
  }
  .typeAndName h4{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    /* padding-top: 13%; */
    margin-bottom: 1%;
  }
  .typeAndName h2{
    margin-bottom: 4%;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.2em;
    letter-spacing: 1px;
  }
  .placeholderImg {
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    min-height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .grommetux-control-icon-form-subtract {
    padding-top: 1.5%;
    stroke: red;
  }
  .placeDesc{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    letter-spacing: 1px;
    /* margin-left: 5%; */
  }
  .placeDesc span{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 1.3em;
  }
  .adddress {
    line-height: 1.0;
  }
  .bottomHalfContent {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: middle;
    height: 12vh;
    /* border-top: 1px solid black; */
    background-color: white;
  }

  .bottomHalf{
    background-color: white;
  }

  /* itin.js */
  .itinBox {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 92%;
    overflow-y: scroll;
  }
  .itinTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.8em;
    width: 60%;
    margin-left: 30%;
  }
  .itinContent{
    margin-top: 2.5%;
  }
  .buttTitle{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 3%;
  }

  .itinEditButt {
    position: absolute;
    top: 0;
    right: 0;
  }
  .timeOfDay{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 1.5px;
  }
  .activity{
    margin-top: 3%;
    width: 99%;
    height: 20%;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    box-shadow: 0 1px rgba(0,0,0,0.2);
  }
  .activityImg{
    width: 40%;
  }
  .activityImg img{
    border-radius: 5px;
  }
  .activityDesc{
    width: 80%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    /* font-family: 'Cardo', serif;
    font-weight: 400; */
    font-size: .8em;
    letter-spacing: 0px;
  }
  .activityDesc .name {
    font-weight: 700;
  }
  .activityDesc .distance{
    font-size: .7em;
    color: rgba(0,0,0,.55);
  }
  .activityDesc div{
    padding-bottom: 2%;
  }
  .titleKey{
    color: #4153AF;
  }
  /* viewall.js */
  .empty {
    position: absolute;
    margin-top: 15%;
    font-size: 1.3em;
    width: 100%;
  }
  .tableTitle{
    margin-top: 5%;
    letter-spacing: 2px;
    color: white;
    display: inline-block;
    background-color: #4153AF;
    padding: 1% 2%;
    margin-bottom: 5%;
  }
  .tableTitle h2 {
    margin-bottom: 0;
    font-size: 1.4em;
    font-weight: bold;
  }
  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  thead{
    width: 100%;
    height: 10%;
  }
  /* tbody tr:nth-child(odd){
    background-color: var(--light-gray);
  } */
  th {
    letter-spacing: 1px;
    width: 27%;
    font-size: 1.2em;
  }
  thead th{
    text-transform: lowercase;
  }
  thead {
    margin-bottom: 15px;
  }
  td {
    font-size: 1.1em;
    height: auto;
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  /* detailView */
  .topLevelReview {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: middle;
  }
  .infoReview{
    margin-top: 5%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
  .reviewName {
    font-size: 1.6em;
    width: 78%;
    line-height: 1.0;
  }
  .starBox {
    width: 22%;
  }
  .reviewRating {
    width: 100%;
  }
  /* detailImage.js */
  .carousel{
    position: relative;
    border-bottom: 1px solid black;
  }
  .butts {
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
  .oneButt{
    color: white;
  }
  .nameRatingInfo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    padding-bottom: 3%;
  }
  /* Reviews.js */
  .reviewDate{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .review {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }
  .text {
    line-height: 1.4;
    font-size: .85em;
  }
  /* trashButton */
  .trashDiv {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: -5%;
    margin-right: -5%;
  }
  .trashButt {
    padding: 2%;
    background-color: #4153AF;
    width: 100%;
    height: 55px;
  }
}
