.App {
  text-align: center;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 430px) {
  /* header.js */
  .headerButt {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .grommetux-anchor--reverse .grommetux-control-icon{
    margin-left: 0;
  }
  .grommetux-anchor__icon {
    height: auto;
  }
  /* login.js */
  .login{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  .grommetux-form-field {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .grommetux-form-field__label{
    color: black;
  }
  .grommetux-password-input__input {
    border: none;
  }
  .grommetux-text-input{
    width: 100%;
    border: none;
  }
  #formLogin {
    padding-top: 20%;
  }
  .title{
    padding-bottom: 5%;
    font-size: 3.3em;
    letter-spacing: 3px;
    font-family: 'Cardo', serif;
    font-weight: 400;
  }
  .passInput{
    padding-bottom: 7%;
  }
  #loginButt{
    width: 90%;
    border: none;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .create {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  /* quizzes */
  .QandA{
    margin-top: 30%;
  }
  .question{
    /* font-family: 'Poppins', sans-serif;
    font-weight: 300; */
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 1.8em;
  }

  .submit{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 5%;
    border-radius: 8px;
    width: 90%;
    font-size: 1.3em;
    padding: 2%;
    background-color: #4153AF;
    color: white;
  }

  #PlacesAutocomplete__root{
    margin-top: 15%;
  }

  #my-input-id{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  .choices {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 17%;
  }

  .choices span{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 19%;
    padding: 1%;
    border: 1px solid black;
    font-size: 1.1em;
  }

  #choices2 span{
    justify-content: space-around;
    width: 45%;
  }
  #choices3 span{
    justify-content: space-around;
    width: 40%;
  }
  .top2{
    margin-bottom: 3%;
  }

  .bottom2{
    margin-bottom: 0%;
  }

  .next{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  #q3choices{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #choices2{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #choices3{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #q6choices {
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #q6choices span{
    justify-content: space-around;
    width: 45%;
  }

  /* searchbar */
  .location_icon {
    margin-right: 8px;
  }
  .fa.fa-map-marker {
    color: #e53935;
  }
  .search_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 90%;
  }

  .autocomplete-container {
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .render_item {
    padding: 4px;
    text-align: left;
  }

  .search_input,
  .search_input:focus,
  .search_input:active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: honeydew;
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
  }

  /* results.js */
  .topHalf{
    width: 100%;
    max-height: 80vh;
    background-color: pink;
  }
  .typeAndName {
    width: 100%;
    height: 14vh;
    margin-left: 5%;
  }
  .typeAndName h4{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 4%;
    margin-bottom: 1%;
  }
  .typeAndName h2{
    margin-bottom: 4%;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.2em;
    letter-spacing: 1px;
  }
  .placeholderImg {
    width: 100%;
    height: 50vh;
    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .placeholderImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .grommetux-control-icon-form-subtract {
    padding-top: 1.5%;
    stroke: red;
  }
  .placeDesc{
    width: 100%;
    height: 20vh;
    letter-spacing: 2px;
    margin-left: 5%;
  }
  .placeDesc h4{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1%;
  }

  .bottomHalf{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: middle;
    height: 13vh;
  }



}
/* searchBAr.js */

/* login.js */
/* .box2 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#formLogin label{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
} */

/* q1_destination */
/* .QandA {
  margin-top: 8%;
}
.question {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.3em;
}
#submit {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 3%;
  border-radius: 25px;
  padding: 1% 3%;
} */
/* results.js */
/* .right-half {
  width: 50%;
  height: 100%;
  background-color: #E3F0FF;
  float: right;
}

.placeholderImg{
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #526c6d;
  display: block;
}

.placeDesc{
  padding: 1% 2%;
  height: auto;
  background-color: #E3F0FF;
  position: absolute;
  bottom: 10%;
  letter-spacing: 2px;
}

.placeDesc h3{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin: 0;
  font-size: 2.8em;
  margin-bottom: 2%;
}

.placeDesc h4{
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: .5%;
  font-weight: 400;
  font-size: 1.6em;
} */
