.App {
  text-align: center;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  position: relative;
}
@media (min-width: 320px) and (max-width: 430px) {
  /* header.js */
  .headerButt {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
  }
  .grommetux-anchor--reverse .grommetux-control-icon{
    margin-left: 0;
  }
  .grommetux-anchor__icon {
    height: auto;
  }
  /* Splashpage */
  #splashpage{
    height: 100vh;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
/*
  .backgroundImage{
    width: 100vw;
    height: 100vh;
    z-index: -333;
    background: url('assests/splash.jpg') no-repeat 30% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  } */

  .titles {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    z-index: 99;
  }
  .appTitle{
    font-size: 3.5em;
    font-family: 'Cardo', serif;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .loginSignupButts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 5%;
  }
  .loginSignupButts button{
    letter-spacing: 1px;
    width: 100%;
    margin-top: 3%;
    border: 1px solid black;
    background-color: white;
  }
  /* createAccount */
  .createAccountBox{
    margin-top: 25%;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .createAccountBox h3{
    padding-top: 10%;
    font-size: 1.3em;
    letter-spacing: 2px;
    padding-bottom: 16%;

  }
  #loginButt{
    border: none;
    margin-top: 10%;
    margin-bottom: 5%;
    letter-spacing: 2px;
    margin-top: 5%;
    border-radius: 8px;
    font-size: 1.2em;
    padding: 3%;
    background-color: #4153AF;
    color: white;
  }
  #input{
    padding: 1.5em;
  }
  /* login.js */
  .login{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  .grommetux-form-field {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  .grommetux-form-field__label{
    color: black;
  }
  .grommetux-password-input__input {
    border: none;
  }
  .grommetux-text-input{
    width: 100%;
    border: none;
  }
  #formLogin {
    margin-top: 20%;
  }
  .title{
    padding-bottom: 5%;
    font-size: 2.8em;
    letter-spacing: 10px;
  }

  /* quizzes */
  .formBox{
    margin-top: 20%;
  }
  .formBox .grommetux-form-field__label {
    font-size: 1.0em;
  }
  .QandA{
    margin-top: 30%;
  }
  .question{
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 1.8em;
  }
  .submit{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 5%;
    border-radius: 8px;
    width: 90%;
    font-size: 1.3em;
    padding: 2%;
    background-color: #4153AF;
    color: white;
  }
  #loginButt1{
    height: 10%;
    border-radius: 0px;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
  }

  #PlacesAutocomplete__root{
    margin-top: 15%;
  }

  #my-input-id{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  .choices {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 17%;
  }

  .choices span{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 19%;
    padding: 1%;
    border: 1px solid black;
    font-size: 1.1em;
  }

  #choices2 span{
    justify-content: space-around;
    width: 45%;
  }
  #choices3 span{
    justify-content: space-around;
    width: 40%;
  }
  .top2{
    margin-bottom: 3%;
  }

  .bottom2{
    margin-bottom: 0%;
  }

  .next{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  #q3choices{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #choices2{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #choices3{
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #q6choices {
    margin-top: 13%;
    margin-bottom: 4%;
  }
  #q6choices span{
    justify-content: space-around;
    width: 45%;
  }

  /* searchbar */
  .location_icon {
    margin-right: 8px;
  }
  .fa.fa-map-marker {
    color: #e53935;
  }
  .search_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 90%;
  }

  .autocomplete-container {
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .render_item {
    padding: 4px;
    text-align: left;
  }

  .search_input,
  .search_input:focus,
  .search_input:active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: honeydew;
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
  }

  /* results.js */
  .right-half{
    max-height: 100%;
    width: 100%;
  }
  .topHalf{
    padding-top: 15%;
    max-width: 100%;
    height: 90vh;
    /* background-color: pink; */
  }
  .typeAndName {
    width: 90%;
    height: 14vh;
    /* margin-left: 5%; */
    margin-left: auto;
    margin-right: auto;
  }
  .typeAndName h4{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    /* padding-top: 13%; */
    margin-bottom: 1%;
  }
  .typeAndName h2{
    margin-bottom: 4%;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.2em;
    letter-spacing: 1px;
  }
  .placeholderImg {
    /* width: 100%;
    height: auto;
    /* background-color: white; */
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 17%; */ */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .placeholderImg img {
    /* max-width: 100%;
    max-height: 100%;
    object-fit: contain; */
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .grommetux-control-icon-form-subtract {
    padding-top: 1.5%;
    stroke: red;
  }
  .placeDesc{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    letter-spacing: 1px;
    /* margin-left: 5%; */
  }
  .placeDesc span{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 1.3em;
  }
  .adddress {
    line-height: 1.0;
  }

  .bottomHalf{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: middle;
    height: 10vh;
    border-top: 1px solid black;
  }
  /* itin.js */
  .itinBox {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 18%;
  }
  .itinTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.8em;
    width: 60%;
    margin-left: 30%;
  }
  .itinContent{
    margin-top: 5%;
  }
  .buttTitle{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 3%;
  }

  .itinEditButt {
    position: absolute;
    top: 0;
    right: 0;
  }
  .timeOfDay{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 1.5px;
  }
  .activity{
    margin-top: 3%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    box-shadow: 0 1px rgba(0,0,0,0.2);
  }
  .activityImg{
    width: 40%;
  }
  .activityImg img{
    border-radius: 5px;
  }
  .activityDesc{
    width: 80%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: .9em;
    letter-spacing: 0px;
  }
  .activityDesc .name {
    font-weight: 700;
  }
  .activityDesc .distance{
    font-size: .7em;
    color: rgba(0,0,0,.55);
  }
  .activityDesc div{
    padding-bottom: 2%;
  }
  .titleKey{
    color: #4153AF;
  }
  /* viewall.js */
  .tableTitle{
    margin-top: 5%;
    letter-spacing: 2px;
    color: white;
    display: inline-block;
    background-color: #4153AF;
    padding: 1% 2%;
    margin-bottom: 5%;
  }
  .tableTitle h2 {
    margin-bottom: 0;
  }
  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  thead{
    width: 100%;
    height: 10%;
  }
  /* tbody tr:nth-child(odd){
    background-color: var(--light-gray);
  } */
  th {
    letter-spacing: 1px;
    width: 27%;
    font-size: 1.2em;
  }
  thead th{
    text-transform: lowercase;
  }
  thead {
    margin-bottom: 15px;
  }
  td {
    font-size: 1.1em;
    height: auto;
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  /* detailView */
  .detailView {
    margin-top: 15%;
  }
  /* detailImage.js */
  .carousel{
    position: relative;
    border-bottom: 1px solid black;
  }
  .butts {
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
  .oneButt{
    color: white;
  }
  .nameRatingInfo {
    border-bottom: 1px solid black;
  }
  /* Reviews.js */
  .reviewDate{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .person {
    margin-bottom: 2%;
  }
  .review {
    border-bottom: 1px solid black;
  }
  /* trashButton */
  .trashDiv {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: -5%;
    margin-right: -5%;
  }
  .trashButt {
    padding: 2%;
    background-color: #4153AF;
    width: 100%;
    height: 55px;
  }
}
